{% extends "layouts/base.njk" %}

{%
  set title = "Dashboard | " + title
%}

{% block content %}
  <section class="container">
    <div class="flex items-center justify-center min-h-screen w-full">
      <h1 class="text-5xl font-semibold text-gray-700 mb-4">Welcome Pages</h1>
    </div>
  </section>
{% endblock %}